{% extends 'mainsite/cts/base.html' %}

{% block content%}
<div class="container">
     <h2>Vehicle List</h2>
	<div id="carList" class="list-group">
	</div>

    <a class="btn btn-default" href="{% url 'cts-mobile-menu' %}">Menu</a>

</div>


{% endblock %}



{% block footerscript %}

 <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDaZlqptFZDfHjxl2sh2u6ivczcVjgG88o&libraries=geometry"></script>


<script>
var defaultLatLng = new google.maps.LatLng(52.4449844,-1.6700628);  // Default to Meriden when no geolocation support

var watchID;						// the ID of our watchCurrentPosition() callback thingy
var myTimeout;						// the ID of our recurring javascript timeout thing

var myVehicleID = "{{ vehicle.id }}";			// which vehicle Number are we
var myName = "{{ vehicle.name }}";		// who do we claim to be?

var car_details = [];					// populate this with details from the server of the other cars


$( document ).ready(function () {
	car = {vehicleID:myVehicleID, lat: defaultLatLng.lat(), lon: defaultLatLng.lng(), name:myName, timestamp:"2017-05-31T19:25:37.446Z"};
	car_details[myVehicleID] = car;

	startBackgroundUpdates();	
});




function startBackgroundUpdates() { 
    console.log("StartBackgroundUpdates()");

    if (watchID) {
	return;
    }

    if ( navigator.geolocation ) {

         function success(pos) {
		console.log(" success()");
            	// Location found, show map with these coordinates
		
		car_details[myVehicleID].lat = pos.coords.latitude;
		car_details[myVehicleID].lon = pos.coords.longitude;
            	updateCarList();

         }

         function fail(error) {
		console.log(" fail()");
         	updateCarList();  // Failed to find location, show default map
         }

         var options = {maximumAge: 60000, enableHighAccuracy:true, timeout: 6000};	// subject to debate
         geoLoc = navigator.geolocation;
         watchID = geoLoc.watchPosition(success, fail, options);

    } else {
        updateCarList();  // No geolocation support, show default map
    }


    regularUpdate();


}



function regularUpdate() {		// if true then start it, if false, stop it (if running)
	console.log("regularupdates() ");

	if (myTimeout) {
		return;		// don't run multiple times 
	}

	myTimeout = setInterval(function () {
		//	console.log("In regular polling function - checking in with server");
			checkInWithServer();
		},
		20000);

	checkInWithServer();	// trigger once on launch
}




function checkInWithServer() {
	console.log("checkInWithServer()");
	var myLoc = {'vehicleID':myVehicleID, 'lat':car_details[myVehicleID].lat, 'lon': car_details[myVehicleID].lon, 'timestamp': Date.now()};

	$.ajax({		// send data to server, and get other endpoints 
		type: "POST",
        	url: "{% url 'cts-vehicle-position-ajax' %}",
        	data: JSON.stringify(myLoc),
		//	data: myLoc,
        	dataType: 'json',
        	success: function (data) {
		//	console.log("Got data back from server!");
		//	console.log(data);
			
			$.each(data, function(index, element) {
				//console.log(" Index = " + index);
				//console.log(" element = " + element);
				// console.log(" element.vehicleID = " + element.vehicleID);
// 'lat':x.lat, 'lon':x.lon, 'timestamp':x.timestamp
				if (element.vehicleID != myVehicleID) {
					var car = {vehicleID: element.vehicleID.toString(),  lat: parseFloat(element.lat), lon:parseFloat(element.lon), timestamp:element.timestamp, name:element.name};
					if ("undefined" === typeof car_details[element.vehicleID]) {	
						car_details[element.vehicleID] = car;
					} else {
						car_details[element.vehicleID].name = car.name;
						car_details[element.vehicleID].lat = car.lat;
						car_details[element.vehicleID].lon = car.lon;
						car_details[element.vehicleID].timestamp = car.timestamp;
					}
				}

			});
			updateCarList();
		}          		
      	});
}










function updateCarList() {
	$("#carList").empty();
	var myPos = new google.maps.LatLng(car_details[myVehicleID].lat, car_details[myVehicleID].lon);
	for (i in car_details) {

		var thisPos = new google.maps.LatLng(car_details[i].lat, car_details[i].lon);
		var distance_from_here = google.maps.geometry.spherical.computeDistanceBetween(myPos, thisPos);
		console.log("distance_from_here = " + distance_from_here);

		distance_from_here = (distance_from_here / 1609.344);
		distance_from_here = distance_from_here.toFixed();

		var heading = google.maps.geometry.spherical.computeHeading(myPos, thisPos);
		var bearing = "N";
		if ((heading >= 22.5) && (heading < 67.5)) { bearing = "NE"; }
		if ((heading >= 67.5) && (heading < 112.5)) { bearing = "E"; }
		if ((heading >= 112.5) && (heading < 157.5)) { bearing = "SE"; }
		if ((heading >= 157.5) && (heading < 202.5)) { bearing = "S"; }
		if ((heading >= 202.5) && (heading < 247.5)) { bearing = "SW"; }
		if ((heading >= 247.5) && (heading < 292.5)) { bearing = "W"; }
		if ((heading >= 292.5) && (heading < 337.5)) { bearing = "NW"; }


		var ts = "now";
		if (i != myVehicleID) {
			
			// work out time difference
			var n = new Date();
			var dt = new Date(car_details[i].timestamp);
			var y = Math.abs(n.getTime() - dt.getTime());
			y = y / 1000;
			console.log("time offset (s) = " + y);
					
			if (y < 60) {
				ts = "< 1 min ago";
			} else if (y < 6000) {
				var x = (y / 60).toFixed();
				ts = x + " minutes ago";
			} else {
				var x = (y / (60 * 60)).toFixed();
				ts = x + " hours ago";
			}
		}

	// we can also use this function to update the list view of cars
		var url = "{% url 'cts-mobile-map-car' pk=999999 %}".replace(/999999/, car_details[i].vehicleID.toString());	

		$("#carList").append("<a class='list-group-item' href='" + url + "'><h3>Car " + car_details[i].vehicleID + "</h3><p><strong>"+ car_details[i].name + "</strong></p><p class='ui-li-aside'><strong>"+distance_from_here + " miles " + bearing +"</strong> " + ts + "</p></a>");
			

	}

}





// using jQuery
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
var csrftoken = getCookie('csrftoken');   


function csrfSafeMethod(method) {
    // these HTTP methods do not require CSRF protection
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
}
$.ajaxSetup({
    beforeSend: function(xhr, settings) {
        if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
            xhr.setRequestHeader("X-CSRFToken", csrftoken);
        }
    }
});



</script>

{% endblock %}




