{% extends "simple.html" %}
{% load static %}

{% block title %} - The Spring Classics - Paris-Roubaix{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}


{% block header-links %}
                {% include 'bullets/snippets/classics_headers.html' %}
{% endblock %}


{% block content %}
<div class="row">
     <div class="col-sm-2">
	<img src="{% static 'images/classics/hell-of-north.png' %}" class="img-responsive" alt="The Spring Classics">
    </div>
    <div class="col-sm-6">
            <h1>Paris-Roubaix</h1>
            <br>
	    <h3>Welcome to Hell!</h3>
	    <p>The Boldmere Bullets Paris - Roubaix Spring Classic takes place on the 9th April 2017. </p>
	    <p>This will not be an event for the faint-hearted! Our attempt to recreate the "Hell of the North" on roads around Sutton Coldfield will be tricky, but fortunately our Routemaster has been working his magic and is seeking out every bump and cobble he can find. <strong>This is not a route for your best bikes!</strong></p>
	    <p>This event will be comprised of led group rides (up to 12 per group including leaders), with a range of different distances and speeds to suit all tastes.</p>
	    <h3>Route options</h3>
	    <p>There will be two routes for this ride:
 <ul>
	<li><a href="https://www.strava.com/routes/8122418" target="_blank">45 miles</a></li>
	<li><a href="https://www.strava.com/routes/7157086" target="_blank">70 miles</a></li>
</ul>
All routes will depart from, and return to, the Harvester in Boldmere.</p>

	     <h3>Entry Fee</h3>
	<p>There is a &pound;5 entry fee for the Bullets Paris-Roubaix ride to help raise money for our Charity of the Year - The Lisieux Trust. Please purchase an entry place on our online shop.</p>
	 	
	<h3>Important Information</h3>
	<p><strong>You must be a registered member of the Boldmere Bullets to participate in this event.</strong> If you have not already done so, you can <a href="{% url 'register' %}">register online</a>.</p>

	<p>Participants on this event agree to adhere to the <a href="{% url 'collective-code' %}">collective code</a>.</p>
	<p>This is an unsupported ride, although all groups will be led by Boldmere Bullets leaders in the usual fashion.</p>

	<h3>Start / End Map</h3>

	<iframe
  width="600"
  height="400"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyCcZLY_Ta7vINUXG6DPh-JUWX_a5DGyg9Y&q=Harvester%20Boldmere&zoom=16" allowfullscreen>
</iframe>


	    
    </div>
    <div class="col-sm-4 introbox">
	<h2>Key Details:</h2>
 	<div class="row">
      		<div class="col-sm-4"><strong>Date:</strong></div>
		<div class="col-sm-8">9th April 2017</div>
	</div>
 	<div class="row">
      		<div class="col-sm-4"><strong>Start:</strong></div>
		<div class="col-sm-8">08:00</div>
	</div>
 	<div class="row">
      		<div class="col-sm-4"><strong>Depart:</strong></div>
		<div class="col-sm-8">the Harvester</div>
	</div>
 	<div class="row">
      		<div class="col-sm-4"><strong>Routes:</strong></div>
		<div class="col-sm-8"><ul class="list-unstyled">
	<li><a href="https://www.strava.com/routes/8122418" target="_blank">45 miles</a></li>
	<li><a href="https://www.strava.com/routes/7157086" target="_blank">70 miles</a></li>
</ul>
</div>
	</div>
 	<div class="row">
      		<div class="col-sm-4"><strong>Cost:</strong></div>
		<div class="col-sm-8">&pound;5.00</div>
	</div>

<p class="text-center">
 <a href="/bullets-shop/products/bullets-paris-roubaix-charity-ride-28/" class="btn btn-primary btn-lg">Sign Up Now</a>
</p>
	
    </div>
    </div>
   </div>

 
      {% endblock %}





