{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load markdown %}

{% block content %}
    <div class="home">
  <div class="row top-message">
        <div class="col-sm-12">
            <div class="card text-center">
            	<div class="card-body">
			<p>{{ site.settings.frontpage_text|markdown }}</p>
		</div>
	    </div>
        </div>
    </div>
	
   <div class="row">
	<div class="col-6 col-lg-3 product-list">
  		<a href="/bullets-shop/products/category/cycling-1/" class="link--clean">
    		<div class="text-center">
      			<div>
        			<img class="img-responsive"
             			src="{% static 'images/shop-cycling.png' %}"
             		        alt="Cycling Shop">
        			<span class="product-list-item-name" title="Cycling">Cycling</span>
      			</div>
			<div class="panel-footer">
      			</div>
    		</div>
  		</a>
	</div>
	<div class="col-6 col-lg-3 product-list">
  		<a href="/bullets-shop/products/category/running-2/" class="link--clean">
    		<div class="text-center">
      			<div>
        			<img class="img-responsive"
             			src="{% static 'images/shop-running.png' %}"
             		        alt="Running Shop">
        			<span class="product-list-item-name" title="Running">Running</span>
      			</div>
			<div class="panel-footer">
      			</div>
    		</div>
  		</a>
	</div>

	<div class="col-6 col-lg-3 product-list">
  		<a href="/bullets-shop/products/category/casual-5/" class="link--clean">
    		<div class="text-center">
      			<div>
        			<img class="img-responsive"
             			src="{% static 'images/shop-casual.png' %}"
             		        alt="Casual Shop">
        			<span class="product-list-item-name" title="Casual">Casual</span>
      			</div>
			<div class="panel-footer">
      			</div>
    		</div>
  		</a>
	</div>

	<div class="col-6 col-lg-3 product-list">
  		<a href="/bullets-shop/products/category/events-6/" class="link--clean">
    		<div class="text-center">
      			<div>
        			<img class="img-responsive"
             			src="{% static 'images/shop-events.png' %}"
             		        alt="Events Shop">
        			<span class="product-list-item-name" title="Events">Events</span>
      			</div>
			<div class="panel-footer">
      			</div>
    		</div>
  		</a>
	</div>

    </div>
     <ul class="breadcrumb"><li><strong>Featured Products</strong></li></ul>
      <div class="home__featured">
        <div class="row">
          {% include "product/_items.html" %}
        </div>

      </div>
    </div>
    <script type="application/ld+json">{{ webpage_schema|safe }}</script>
  </div>
{% endblock %}
