{% extends "simple.html" %}
{% load static %}

{% block title %} - IWD{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% endblock %}

{% block content %}
<div class="row">
<h1>International Women's Day Event</h1>
<br>

<table class="table sortable">
	<thead>
		<tr>
			<th data-defaultsort="asc">Date added</th>
			<th>Name</th>
			<th>Email</th>
			<th>Club</th>
		</tr>
	</thead>
	<tbody>
		{% for rider in object_list %}
		<tr>
			<td>{{rider.date_added}}</td>
			<td>{{rider.name}}</td>
			<td>{{rider.email}}</td>
			<td>{{rider.club}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
 
      {% endblock %}



