// GLOBAL
$global-padding: 1rem;
$global-margin: 1rem;
$button-border-radius: 4px;

// COLORS
$body-bg: #ffffff;
$body-color: #000000;
$white: #fff;
$light-gray: #f2f2f2;
$gray: #D3D1D0;
$darken-gray: darken($gray, 10%);
$skull-gray: #828282;
// $blue: #26A5D4;
$blue: #FC4C02;	//	or orange as it might actually be
$darken-blue: darken($blue, 10%);
$red: #EB5757;
$dark-red: #c53636;
$green: #27AE60;
$beige: #FFFAEC;
$black: #000000;
$orange: #FC4C02;

// TYPOGRAPHY
$font-family-sans-serif: 'Lato', sans-serif;
$h1-font-size: 3rem;
$h2-font-size: 1.3rem;
$h3-font-size: 1rem;

$theme-colors: (
  primary: #FC4C02,
  secondary: $black,
  success: $green,
  info: #17a2b8,
  warning: #ffc107,
  danger: $red,
  light: #f8f9fa,
  dark: #343a40
);

 
@font-face {
	font-family: SpyAgency;
	src: url("https://bullets-web-media.s3.amazonaws.com/static/fonts/s_font.ttf");
}

.spyfont {
	font-family: SpyAgency, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
	font-size: 115%;
}

@font-face {
	font-family: Coalition;
	src: url("https://bullets-web-media.s3.amazonaws.com/static/fonts/c_font.ttf");
}

.coalitionfont {
	font-family: Coalition, 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
}
