{% extends "simple.html" %}
{% load static %}

{% block title %} - Support the Bullets whilst you shop{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% include "bullets/snippets/generic_headers.html" %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Support the Bullets whilst you shop!</h1>
            <br>
	    <p>If you are looking for some new snazzy non-Bullets branded (why?!) gear, a new bike, or a whole range of other sporting goods and accessories, why not buy from one of our carefully chosen affliates below? When you buy via these links, the Bullets get a small percentage of the total amount, which helps to cover our running costs. Thank you, and happy shopping!</p>


	   
        </div>
</div>

	{% include 'bullets/snippets/adverts.html' %}
	
</div>

 
      {% endblock %}



