{% extends "simple.html" %}
{% load static %}
{% load bootstrap_form from bootstrap3 %}

{% block title %} - Big Bullets Ride{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
    <h1>Big Bullets Ride - Total Distance!</h1>
    <p>So far, we have travelled a grand total of...</p>

    <p><h1 class="text-center">{{ total_distance}}km</h1></p>
    
<a href="{% url 'index' %}" class="btn btn-primary btn-xl">Back to the main site</a>  
    </div>
  
</div>

 
      {% endblock %}



