{% extends "simple.html" %}
{% load static %}

{% block title %} - Collective Code {%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% include 'bullets/snippets/generic_headers.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>The Collective Code</h1>
            <br>
            <p>As a Collective, the Boldmere Bullets will only be successful if we’re all happy with what we're all doing - whether running, cycling, or having fun at a social event. Our Collective Code is based on common sense - and is basically a reminder for what we all should be doing anyway.</p>

<p>We are safe, legal and responsible in all that we do. We always obey road traffic legislation when cycling and relevant restrictions when running. When in a group, we give clear, unambiguous signals and vocal calls ("no" and "go" are easily confused - "stop" is much safer). Whether on a bike or on a run, we are aware of those around us, both within our group and others who might be sharing our space. We act predictably without suddenly changing speed or course.</p>

<p>We look after ourselves - we always take the right kit with us for the activity we're doing and the anticipated conditions. We always carry some form of ID, and ideally a mobile phone with an "ICE" contact set. We are prepared for the weather to change - you can quickly go from hot to very cold if you have to stop exercising in bad conditions. Equipment is kept in good condition, and sensible spares are carried for the activity planned (e.g. spare tube and pump/CO2 for the bike). We ensure we stay hydrated and have sufficient nutrition for longer activities.</p>

<p>The group leaders will decide the policy on mechanical incidents / stopping on that particular day. A Bullet might be under time pressure and will need to keep moving; other Bullets will be happy to stay and help get you back on the road. No-one will ever be left stranded at the side of the road.</p>

<p>We always make new Bullets feel welcome and explain what's going on. If you are new to running or riding with us please make yourself known and we’ll do our best to ensure you have the best possible welcome to the Collective.</p>

<p>Bullets activities are not races and we do not encourage competition within our Collective. We are not race organisers. All we do is bring people together to share sporting experiences and make friends.</p>

<p>Exercise can be physically demanding and you should always seek advice from your GP before taking up a strenuous physical pursuit such as running or cycling. It is an individual's own responsibility to get medical advice on injuries or illness before they exercise. You accept that you join Bullets activities entirely at your own risk and that it is your responsibility to ensure that you are fit and able to take part. </p>

<p>We demonstrate great team spirit. It doesn't matter if you have won the Tour de France, completed many marathons, or if you are exercising for the first time in 30 years – positive attitudes only! We all know how it feels to have a bad day and to be struggling to keep up – encouragement, support and inclusion are core Bullets values.</p>

<p>We recommend that you purchase your own insurance for any activity involving physical exercise. Cycling in particular has its own inherent risks. We have become an <a href="http://www.cyclinguk.org/membership/affiliate-membership-for-cycling-clubs-and-groups-of-all-types-and-sizes">affiliate group with CTC</a>, which enables you to join and enjoy various benefits including individual insurance for &pound;24/year (available by quoting code 90075653).</p>

<p>The Boldmere Bullets Collective, and its volunteers, do not accept any responsibility for injury, loss, or damage sustained by any participants in one of our experiences or events.</p>

<p>The Boldmere Bullets is open to anyone over the age of 18. We do not allow under 18s to participate in Boldmere Bullet activities.</p>

<p>Our goal is to make Bullets' experiences fun and memorable.</p>
<p>There are three words which capture the ethos of the Bullets collective - they are:</p>
<ul>
<li>Fun</li>
<li>Free</li>
<li>Flexible</li>
</ul>
<p>
We welcome any constructive feedback you may have on any of our activities or on the Collective Code. Please contact any of the volunteers or through our <a href="{% url 'contact' %}">contact form</a>.
</p>

    </div>
</div>

 
      {% endblock %}



