{% extends "simple.html" %}
{% load static %}

{% block title %} - Our Collective History {%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% include 'bullets/snippets/generic_headers.html' %}
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>The History of the Boldmere Bullets</h1>
            <br>
<p>
Born in the autumn of 2013, the Boldmere Bullets started with two brothers cycling each week in Boldmere (The Founders). Quite quickly a core group of friends were riding on a regular basis and decided to call themselves the <strong>"Boldmere Bullets"</strong>. The concept was simple - ride our bikes in a friendly and fun environment without any form of elitism or competitiveness that would turn away other cyclists.</p>

<p>Tom Swinbourne was appointed "The Chairman" (he had the “BIG IDEAS” and the most amount of energy!) and his brother Jon Swinbourne was appointed "The Captain" (he was more sensible). Tom decided to run all the things "off the bike" whilst Jon would run all the things "on the bike". Jag Sarmotta then started to work his magic, bringing together hundreds of people via the power of social media. Meanwhile Lloyd Norton started arranging our social events and Raich Carter designed and arranged our first kit order. The Bullets was by now well under way and had started to gain a good reputation in the local area.</p>

<p>Tom realised there was a gap for people who wanted to be part of the Collective but did not want to cycle. So in the late summer of 2014, alongside Pard Bagdi, he started up the Running Collective. They quickly found that our approach to free, voluntary-led experiences for our local community worked just as well outside of cycling.</p>

<p>Since that time the Boldmere Bullets have grown to a network of of friends which continue to expand every day. We now have well over a 1000 people connected in the local area with hundreds of people exercising together free of charge every week.</p>

<p>Jon Swinbourne came up with the concept of a "Charity of the year" and the Bullets are now proud that by the end of 2016 we have raised over £45,000 for local charities including Sutton Coldfield Cancer Centre, Breast Friends and the Lisieux trust.</p>

<p>We have so many stories to tell and so many people to thank - we could go on for ever! However we hope this gives you a sense of what the Collective is all about and what we have achieved in in a very short space of time. If you have any questions, ideas or feedback please talk to a volunteer, member of our <a href="{% url 'core' %}">Core Team</a> or use the <a href="{% url 'contact' %}">Contact Us form</a>.</p>

<h3>Major events</h3>

	<p>In the summer of 2014 we launched the inaugural <strong>'Tour de Boldmere'</strong>, a series of group and individual rides designed to introduce cyclists to group riding, and help people find new routes and challenges. This helped grow the collective significantly, and, at the same time, we started selling club kit, in our distinctive 'Bullets Orange'. </p>

	<p>In January 2015 our running collective started our popular <strong>'couch-to-5k'</strong> programme to help people start running.</p>

	<p>Summer 2015 brought the first major Bullets charity event - <strong>le Tour de North</strong> - in which twelve intrepid cyclists set off on a week-long cycling challenge covering over 500 miles, and every hill, in the north of England, along the way raising over &pound;9,000 for the Bullets charity of the year, the Sutton Coldfield Cancer Support Centre.</p>

	<p>2016 was an even bigger year for the collective. One summer weekend, another plucky group of cyclists known as <strong>Team 300</strong> set out from Barmouth in Wales to cycle to Yarmouth (over 300 miles away), in the space of 24 hours, raising a phenomenal amount for our charity of 2016, Breast Friends. In September, we also held our <strong>first chip-timed fun run</strong> in Sutton Park, attracting hundreds of runners from the local area, and raising more money for Breast Friends. </p>

	<p>We finished 2016 having collectively raised over <strong>&pound;34,000</strong> for Breast Friends!</p>

	
    </div>
</div>

 
      {% endblock %}



