{% extends "simple.html" %}
{% load static %}

{% block title %} - News{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
<li><a href="{% url 'ride-info' %}">Ride with us</a></li>
<li><a href="{% url 'run-info' %}">Run with us</a></li>
<li><a href="{% url 'register' %}">Become a member</a></li>
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Bullets News</h1>
            <br>
	    <h3 id="away">Volunteers Away Weekend, 24th-26th March, Wales.</h3>
<p>Each year we have a special away weekend to thank the volunteers of the Collective. We've previously been to a bunkhouse in the Lake District, but due to renovation works, this time we're heading to Wales. All the run and ride leaders are invited, along with all the other helpers behind the scenes. We’ll be tackling some monster climbs on our bikes and scaling mammoth mountains on foot. The Collective functions entirely by volunteers giving up their time to give you the best ride and run experiences that we can. Want to get more involved in the Bullets? Email info@boldmerebullets.com or have a chat with one of the leaders at a run or ride.</p>

<h3 id="tarathon">The Tarathon, 23rd April</h3>
<p>
What is a Tarathon you might ask? A Tarathon is doing something for no reason other than because you want to. There are no medals, no commemorative t-shirts, no closed roads. It is about setting a goal, training for it, and just going out one day and doing it. We will once again have Marathon, Half Marathon, 10k and 5k distance challenges. All totally FREE. Wouldn't it be amazing to challenge yourself to complete a distance that feels impossible right now? That might be the 5k or the 10k, or how about doing your first Half or Full Marathon? Wouldn't it be amazing to do it just because you can? It would be even more amazing if you could raise money for the Liseux Trust whilst achieving your goal! The day will start at 8am at the regular Bullets Sunday run, and will finish with a family BBQ and Social.</p>

<h3>The Tour de Boldmere, 6th May-23rd July</h3>
<p>
The TdB is back, and this year it will be better than ever before! Why is that? This year we will not only have fantastic routes developed by our very own Routemaster each month, but we have a crack team of cyber squirrels to track the results! The aim of the Tour de Boldmere is to complete the entire series. Each month there will be two longer stages plus a shorter individual stage to complete. You can do them whenever you like, so long as it is during the right month. For the speed demons and hill junkies there are two Strava segments on each on each stage - a flat segment and a hilly segment. What do you get for completing it? A massive amount of kudos and a special handshake from The Captain.</p>
<p> The TdB kicks off with the Grand Depart and Prologue on 6th May and ends to coincide with the end of the Tour de France on 23rd July.</p>

<h3>Bullets do Brittany, 27th May to 3rd June 2017</h3>

<p>Last year we had over 100 people descend on Domaine des Ormes in Brittany for a week of family fun. We took bikes and did some amazing bike rides. We took our trainers and did some glorious sunny runs. But most importantly we took our families and had a great time together. If you're interested in coming this year, book it up through Canvas Holidays or Eurocamp. Chat to Tom S, Jon S or Phil C for more info, or email <a href="mailto:info@boldmerebullets.com">info@boldmerebullets.com</a>.</p>

<h3>The Great Midlands Fun Run, 5th June</h3>

<p>Last year we had an astounding number of Bullets enter the Fun Run. Not only were the runners amazing, but the supporters at Bullets Corner were almost certainly the best around the whole course! This year we want even more runners and even more supporters in orange! Afterwards we'll be heading to The Harvester for a Fun Run Party.</p>

<h3>Chase The Sun, 17th June</h3>

<p>How far can you ride a bike during daylight hours? How about 204 miles from the Isle-of-Sheppey in Kent on the East Coast to Burnham-on-Sea on the West Coast. An intrepid group of Bullets are joining the annual Chase The Sun event on the Saturday closest to the longest day to attempt the feat. Starting at 4am, they will get as close to the west coast as they can before sunset around 9pm. We have around 15 riders signed up, as well as support vehicles and crew members. This will undoubtably be an epic endurance ride, and we hope it will raise a good sum of money for the Liseux Trust.</p>

<p>If you’re interested in taking part (riding or supporting), please contact <a href="mailto:info@boldmerebullets.com">info@boldmerebullets.com</a> ASAP to make sure you’re included with the logistical plans. More info on the event on <a href="http://chasethesun.wixsite.com/chasethesun" target="_blank">their site</a>.</p>


		        

        </div>

	
</div>

 
      {% endblock %}



