{% extends "simple.html" %}
{% load bootstrap_form from bootstrap4 %}
{% load static %}

{% block title %} - Tuesday Run Admin!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Delete a Bullets Run</h1>
            <br>	     
	    <p>Are you sure you wish to delete {{ run.session_details }} ({{run.date}})?</p>	    
            <form method="post" class="form-horizontal" >
            {% csrf_token %}
	                       <p class="text-right">
                		<button type="submit" class="btn btn-primary">Delete</button>
            			</p>
        	</form>
 	   
    </div>
</div>

 
      {% endblock %}



