{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Tour de Boldmere 2017{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}


{% block header-links %}
<li><a href="#what">About Le Tour</a></li>
<li><a href="#stages">Stage types</a></li>
<li><a href="#prizes">Prizes</a></li>
<li><a href="#details">Stage details</a></li>
<li><a href="#me">My progress</a></li>

{% endblock %}


{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Welcome to the Tour de Boldmere 2017!</h1>
            <br>
<p>Running from the start of June 2017 to the end of September 2017, the third Tour de Boldmere will be made up of 11 stages that will consist of:</p>
<ul>
<li>7 Group rides</li>
<li>3 Individual Efforts</li>
<li>8 Hilly segments</li>
<li>8 flat segments</li>
<li>2 notability rides</li>
<li>...and 125 rest days!</li>
</ul>

<p>This is a completely free experience for all members of the Boldmere Bullets Cycling Collective and offers flexibility and inclusion for all abilities. Read through this guide and make sure you do two things to take part:</p>
<ol>
<li>Be part of our collective by <a href="{% url 'register' %}">registering</a> with the Boldmere Bullets.</li>
<li><a href="https://www.strava.com/clubs/BoldmereBulletsCyclingCollective">Become a member of our collective on Strava</a> (it’s free!) so we can pick up your participation in Le Tour De Boldmere.</li>
</ol>

<h2 id="what">Why have we decided to do this and how do I get involved?</h2>
<p>Some Boldmere Bullets members told us that taking part in traditional organised cycling events was sometimes a challenge, due to the time and financial commitment required. We know how hard it can be to find time to take part in a cycling challenge due to busy family lives. Also, everyone is different - some cyclists want to go further and faster, whereas for others it is all about taking part and getting to the end. </p>
<p>We created the first 'Tour de Boldmere' in 2014 to try and solve these problems! A collection of stages, each with a theme, which can be ridden as part of our regular group rides on Saturdays or as an individual effort. We want encourage all of our members to have a sustained commitment to their personal fitness goals, and enjoy some different cycling experiences along the way!</p>
<p>Throughout the summer of 2017, try and do as many stages as you can before the end of September - you may even win a prize from the Chairman! We hope you enjoy our third tour!</p>

<p>To track your progress via our website, make sure you are a <a href="https://www.strava.com/clubs/BoldmereBulletsCyclingCollective">member of our club on Strava</a>, and then ride the various stages... Vive Le Tour De Boldmere - Vive Les Bullets!</p> 



<h2 id="stages">What stage types will there be?</h2>
<h3>Group Stages</h3>
<p>These stages have been designed to be ridden as part of our regular Saturday morning rides, leaving from the car park at the rear of Dubella in Boldmere. But don't worry if you can't make a group ride - you can ride these stages at other times, and your participation will still be counted!</p>

<p>Once you've recorded your ride and saved it to Strava, our website will pick up your participation, and (with luck!) note that you've completed the stage.</p>


<h3>Individual Challenge Stages</h3>
<p>These three stages have been designed for you to complete on your own, challenging yourself to put in your best personal performance. </p>

<h3>Notability Stages</h3>
<p>The Chairman has put his thinking cap on, and come up with two extra-special challenges which we hope will provide you with a few smiles! </p>


	    <h2 id="details">The Stages!</h2>
	    <br>

	    <table class="table table-striped">
		<thead>
			<tr>
				<th>Stage</th>
				<th>Type</th>
				<th>Name</th>
				<th>{% if show_results %}Have you completed this stage?{%else%}Bullets who've ridden the stage{%endif%}</th>
			</tr>
		</thead>
		<tbody>
		
	    {% for stage in stages %}
		<tr>
			<td>{{forloop.counter}}</td>
			<td>{{ stage.stage_type }}</td>
			{% if stage.show_details %}
			<td><a href="{% url 'tdb2017-stage' stage.id %}">{{ stage.name }}</a></td>
			<td>{% if show_results %}{{stage.done_stage }}{%else%}{{ stage.how_many_completed }}{% endif %}</td>
			{% else %}
			<td colspan="2">Details coming on {{ stage.valid_from }}!</td>
			{% endif %}
		</tr>
	    {% endfor %}
		</tbody>
	    </table>

	<br>

<h2 id="prizes">The Prizes!</h2>
<p>Once the Tour completes at the end of September, our cyber squirrels will commence data crunching, and will give the Chairman the details of who has done particularly well! Remember, it's not about how fast you can go - well, not always!</p>
<b>General classification – Yellow Jumper (cavalier jaune):</b>
<p>Awarded to the Bullet with the lowest aggregate time over all of the non-notability stages.</p>
<b>Mountains classification - Polka Dot Jumper (pois sauteur)</b>
<p>In the absence of any actual mountains, we'll use the segment times for the hillier parts of each stage to calculate the winner for the Polka Dot jumper [ed: has someone been reading Ned Boulting's book?].</p>
<b>Points classification - Green Jumper (pull vert):</b>
<p>Precisely the same as the Polka Dot Jumper, but for the flat segments - the rider with the lowest aggregate time over the flat stages will be the winner.</p>
<b>The Extra Special classification - The Chairman's Jumper (Le maillot extra spécial et très joli du président)</b>
<p>A particularly special prize for the Bullet who does best at the two notability rides! This will be awarded purely at the Chairman's selection...</p>


	    {% if show_results == False %}
 	     <br>
	     <h2 id="me">How am I doing at the Tour?</h2>
	     <p>Find out how you are doing at the Tour de Boldmere 2017 with our quick checker! Enter your Strava athlete ID below...(if you click on 'my profile' on the Strava website, then the website address looks like 'https://www.strava.com/athletes/12345678' - your ID is the number).</p>
      
	  <form method="post" class="form-horizontal" >
            {% csrf_token %}
	 	       {% bootstrap_form tdb_form layout="horizontal" %} 
                       <p class="text-right">
                		<button type="submit" class="btn btn-primary">Go!</button>
            		</p>
        	</form>
	    {% endif %}
	    </div>
</div>

 
      {% endblock %}



