{% extends "simple.html" %}
{% load static %}

{% block title %} - The Tour de Boldmere 2017 Leaderboards{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block extraheader %}
<link href="{% static 'css/bootstrap-sortable.css' %}" rel="stylesheet"> 

{% endblock %}


{% block header-links %}
<li><a href="#yellow">Yellow</a></li>
<li><a href="#green">Green</a></li>
<li><a href="#polka">Polka</a></li>
<li><a href="{% url 'tdb2017' %}">Le Tour de Boldmere</a></li>
{% endblock %}



{% block content %}
<div class="row">
     <div class="col-sm-2">
	&nbsp;
    </div>
    <div class="col-sm-8">
            <h1>The Tour de Boldmere 2017 : Leaderboards</h1>
	<p>To feature on the leaderboards below you must have completed the Prologue stage (note: we do not count the Prologue time in the leaderboards).</p>
	<h2 id="yellow">The Yellow Jersey</h2>
	<p>Total segment time for all hilly and flat segments.</p> 
	<table class="table sortable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th data-defaultsort="desc">Stages complete</th>
		</tr>
	</thead>
	<tbody>
	{% for e in yellow %}
		<tr><td>{{ e.1.2}}</td><td>{{ e.1.0 }}</td><td>{{ e.1.1 }} / {{yellow_stages}}</td></tr>
	{% endfor %}
	</tbody>
	</table>

	<h2 id="green">The Green Jersey</h2> 
	<p>Total segment time for all flat stage segments.</p>
	<table class="table sortable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th data-defaultsort="desc">Stages complete</th>
		</tr>
	</thead>
	<tbody>
	{% for e in green %}
		<tr><td>{{ e.1.2}}</td><td>{{ e.1.0 }}</td><td>{{ e.1.1 }} / {{green_stages}}</td></tr>
	{% endfor %}
	</tbody>
	</table>
	<h2 id="polka">The Polka-dot Jersey</h2> 
	<p>Total segment time for hilly stage segments.</p>
	<table class="table sortable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Time</th>
			<th data-defaultsort="desc">Stages complete</th>
		</tr>
	</thead>
	<tbody>
	{% for e in polka %}
		<tr><td>{{ e.1.2}}</td><td>{{ e.1.0 }}</td><td>{{ e.1.1 }} / {{polka_stages}}</td></tr>
	{% endfor %}
	</tbody>
	</table>


	</div>
</div>


 
      {% endblock %}

{% block extrafooter %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="{% static 'js/bootstrap-sortable.js' %}"></script>
{% endblock %}

