{% extends "simple.html" %}
{% load static %}
{% load bootstrap_form from bootstrap3 %}

{% block title %} - ARE YOU ENGAGED?{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
    {% endblock %}
{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
        <form method="post" class="form-horizontal" enctype="multipart/form-data" >
            {% csrf_token %}
            <h1>Upload the member database</h1>
	    <p>This should be a Comma Separated Value (CSV) file, with commas as the delimters, and double quotes around each field. </p>
	    <p>In order, the fields should be: "date joined", "first name", "surname", "post-code","contact number","email", "contactable?". There should be no header row.</p>
            <br>
	     {% bootstrap_form form layout="horizontal" %}
            <p class="text-right">
                <button type="submit" class="btn btn-primary">Upload</button>
            </p>
        </form>
    </div>
</div>

 
      {% endblock %}



