{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Velo Volunteering - a problem!</h1>
            <br>
            <p>You need to be a <a href="{% url 'register' %}">registered member</a> of the Boldmere Bullets to volunteer at the Velo. Unfortunately there was a problem locating your membership in the Boldmere Bullets registration system. </p>
	    <p>This might have happened if you have multiple email addresses, or have changed your email address since registering.</p>
	   
 	    <a href="{% url 'register' %}" class="btn btn-primary btn-xl">Register as a Boldmere Bullet</a> 
 	   


    </div>
</div>

 
      {% endblock %}



