{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
	    <h1>Velo Volunteers</h1>
            <br>
	    <p>Hi {{ bullet }}! You are registering your interest to help as a <strong>ride ambassador</strong> for the Birmingham Velo on 24th of September 2017! Please complete the following details:</p>
	     
        <form method="post" class="form-horizontal" action="{% url 'velo-rider' %}">
            		{% csrf_token %}
	    		<input type="hidden" name="bullet" value="{{bullet.id}}">
			{% bootstrap_form velo_rider_form layout="horizontal" %} 
		 	<p class="small">By registering your interest as a volunteer, you agree that you will help at the Velo, as well as joining in two pre-event training sessions (dates to be confirmed).</p>
                       <p class="text-right">
                		<button type="submit" class="btn btn-primary">Register your interest!</button>
            		</p>
        </form>

 	   


    </div>
</div>

 
      {% endblock %}



