{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Sign up to help with the Velo!</h1>
            <br>
            <h2>Birmingham Velo, 24th September</h2>
	    <p>We are very proud to officially launch our exciting new partnership with the <a href="https://velobirmingham.com/">2017 Birmingham Velo</a>.</p>

	    <p>On Sunday 24th September 2017 in the heart of Birmingham, 15,000 cyclists will line up to start what will hopefully be an unforgettable riding experience. The 100 mile route is situated on completely closed roads, and takes the riders through the picturesque Worcestershire and Herefordshire countryside before returning to Birmingham.</p>
	   <p>The Bullets have a strong reputation for being a super-friendly, supportive and caring Collective. We have also demonstrated our ability to come together to organise and support large local community events. Because of this we have been chosen to support this huge inaugural cycling event which is happening right here in our home city.</p>

<p>This is not only an opportunity for our Collective to support a national event and for the Bullets to receive national recognition, the Velo will also be making a SUBSTANTIAL donation to our Charity of the Year (The Lisieux Trust).</p>

<p>So how are we going to help? You can register your interest to help in the two key areas below. We will be providing much more detail as we build up to this event, but places will be limited so please apply as soon as possible and block out the 24th September in your diaries.</p>

<h2>Ride Ambassadors</h2>
<p>In true Bullets spirit, 100 Ride Ambassadors will be helping other riders on the day to get around the course safely. Before the event you will need to attend one of the leaders training days with the Bullets. As a thank you for your efforts, you will receive free Cycling Jersey & Bib Shorts to be worn at the event, and free entry (if you have not entered already). </p>

<h2>Non-Riding Bullets Volunteers</h2>
<p>These volunteers will perform two roles. A team of 40 Bullets will be driving/assisting the “Broom Wagons” for the event. Pairs of Bullets will join a mechanic and set off in 15-seater Velo minibuses at strategic points around the course to help sweep up those in need of help or who are not able to finish the event. There will also be 4 teams of 20 Bullets (80 people in total) setting off to help on the 4 feed stations around the cycling course. The feed station volunteers will be helping to pack feed bags, handing them out to the riders and tidying down at the end of the event. As a thank you, every Bullet who steps up to help the Sweep or Feed Station teams will get a free T-Shirt and a donation will be made to our charity of the year. </p>

		<h2>Register your interest!</h2>
		<p>To register your interest to take part, please enter the email address you registered as a Boldmere Bullet with and select whether you want to help as a rider ambassador or non-ride volunteer:</p>
	     
        <form method="post" class="form-horizontal" >
            {% csrf_token %}
	 {% bootstrap_form velo_form layout="horizontal" %} 
                       <p class="text-right">
                		<button type="submit" class="btn btn-primary">Next...</button>
            			</p>
        	</form>

 	   
<h2>Any questions?</h2>
<p>If you have any questions please <a href="{% url 'contact' %}">make contact</a> with Tom or Jon Swinbourne.</p>

    </div>
</div>

 
      {% endblock %}



