{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
            <h1>Thank you!</h1>
            <br>
            <p><strong>{{ volunteer.get_name }}</strong> - you are a wonderful person for volunteering to help as a {{ volunteer.get_volunteer_type_display }} at the Velo on behalf of the Boldmere Bullets! We are going to have an amazing time, and can't wait for the event!</p>
	    <p>We have sent you an email address confirming this - please click the link in it to check or alter your details, and if - unfortunately - you can't make it, you can cancel your volunteering slot.</p>
	    <p>We will be in-touch closer to the event with more details!</p>
 	   
	    <a href="{% url 'index' %}" class="btn btn-primary btn-xl">Back to the main site</a>

    </div>
</div>

 
      {% endblock %}



