{% extends "simple.html" %}
{% load bootstrap_form from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}
{% endblock %}


{% block extraheader %}
<link href="{% static 'css/bootstrap-sortable.css' %}" rel="stylesheet"> 

{% endblock %}

{% block content %}

         <h1>Velo Email</h1>
	<p>About to email the following volunteers about their contact details:</p>

	<h2 id="nonriders">Non-Ride Volunteers</h2>
	<table class="table sortable">
	<thead>
		<tr>
			<th data-defaultsort="asc">Name</th>
			<th>Email</th>
			<th>Contact No</th>
			<th>Drive van?</th>
			<th>Drive bus?</th>
			</tr>
	</thead>
	<tbody>
		{% for non_rider in volunteers %}
		<tr>
			<td>{{non_rider.get_name}}</td>
			<td>{{non_rider.get_email}}</td>
			<td>{{non_rider.contact_no}}</td>
			<td>{{non_rider.drive_van}}</td>
			<td>{{non_rider.drive_bus}}</td>
		</tr>
		{% endfor %}
	</tbody>
	</table>

            <form method="post" class="form-horizontal" >
            {% csrf_token %}
	                       <p class="text-right">
                		<button type="submit" class="btn btn-primary">Send emails</button>
            			</p>
        	</form>

<div class="row">
    <div class="col-sm-8 col-sm-push-2">   
	    <a href="{% url 'index' %}" class="btn btn-primary btn-xl">Back to the main site</a>
    </div>
</div>

 
      {% endblock %}


{% block extrafooter %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
<script src="{% static 'js/bootstrap-sortable.js' %}"></script>
{% endblock %}

