{% extends "simple.html" %}
{% load bootstrap_field from bootstrap3 %}
{% load static %}

{% block title %} - The Velo!{%endblock %}
{% block topurl %}{% url 'index' %}{% endblock %}

{% block header-links %}

{% endblock %}

{% block content %}
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
	    <h1>Velo Volunteering - check your details!</h1>
    </div>
</div>

<form action="" method="POST">
{% csrf_token %}
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Volunteer Type</strong></div>
    <div class="col-sm-6">{{ volunteer.get_volunteer_type_display|capfirst }}</div>
</div>	
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Name</strong></div>
    <div class="col-sm-6">{{ volunteer.get_name }}</div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Address</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.address|linebreaks }}</div>{% bootstrap_field volunteer_form.address field_class="hidden formFields" show_label=False %}</div>
</div>

{% if volunteer.volunteer_type == "r" %}

<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Average Speed</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.average_speed}}</div>{% bootstrap_field volunteer_form.average_speed field_class="hidden formFields" show_label=False %}</div>
</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Kit Fit</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.get_kit_sex_display}}</div>{% bootstrap_field volunteer_form.kit_sex field_class="hidden formFields" show_label=False %}</div>
</div>

<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Jersey Size</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.get_jersey_size_display}}</div>{% bootstrap_field volunteer_form.jersey_size field_class="hidden formFields" show_label=False %}</div>

</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Bib Shorts Size</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.get_short_size_display}}</div>{% bootstrap_field volunteer_form.short_size field_class="hidden formFields" show_label=False %}</div>

</div>

{% else %}
<input type="hidden" name="name" value="{{ volunteer.get_name }}">
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Contact Number</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.contact_no}}</div>{% bootstrap_field volunteer_form.contact_no field_class="hidden formFields" show_label=False %}</div>

</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>T-shirt Size</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.get_tshirt_size_display}}</div>{% bootstrap_field volunteer_form.tshirt_size field_class="hidden formFields" show_label=False %}</div>

</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Willing to drive van?</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.drive_van}}</div>{% bootstrap_field volunteer_form.drive_van field_class="hidden formFields" show_label=False %}</div>

</div>
<div class="row">
    <div class="col-sm-4 col-sm-push-2"><strong>Willing to drive minibus?</strong></div>
    <div class="col-sm-6"><div class="textFields">{{ volunteer.drive_bus}}</div>{% bootstrap_field volunteer_form.drive_bus field_class="hidden formFields" show_label=False %}</div>

</div>

{% endif %}

<div class="clearfix">&nbsp;</div>
<div class="row">
    <div class="col-sm-8 col-sm-push-2">
	<a href="#" onClick="show_fields();" class="btn btn-primary btn-lg textFields">Edit my details</a>
	<button type="submit" class="btn btn-primary btn-lg formFields hidden">Save Changes</button>
    </div>
</div>
</form>

<div class="row">
    <div class="col-sm-8 col-sm-push-2">
	<p>If you are no longer able to take part as a volunteer, please click below to delete your registration.</p>
	<form method="post" class="form-horizontal" action="{% url 'velo-delete' %}" >
            {% csrf_token %}
	 	<input type="hidden" name="volunteer" value="{{ volunteer.id }}">
                       <p class="text-right">
                		<button type="submit" class="btn btn-danger">Delete</button>
            		</p>
        	</form>
	</div>
</div>


<script>

function show_fields() {
	$(".formFields").removeClass('hidden');
	$(".textFields").addClass('hidden');

	return false;
}

</script>

      {% endblock %}



