   <footer class="footer navbar-default">
       <div class="container-fluid">
            <div class="navbar-header hidden-xs">
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Boldmere Bullets</a>
 	    </div>
            <ul class="nav navbar-nav navbar-right">
	         	<li><a href="{% url 'privacy' %}"><span class="hidden-xs">How we look after your information</span><span class="visible-xs-inline">Privacy Information</span></a></li>
            </ul>
        </div>
        <!-- /.container-fluid -->
    </footer>
