   <footer class="footer navbar-default">
       <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="{% url 'index' %}">Boldmere Bullets</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
	         	<li><a href="{% url 'privacy' %}">How we look after your information</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </footer>
